@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Regular.otf"); }

@font-face {
  font-family: 'Source Sans Bold';
  src: url("/fonts/SourceSansPro-Bold.otf"); }

@font-face {
  font-family: 'Source Sans Ital';
  src: url("/fonts/SourceSansPro-It.otf"); }

body {
  margin: unset;
  padding: unset;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 5299px;
  background-color: lightgray; }
  @media (min-width: 568px) {
    body {
      width: 1170px; } }
  @media (min-width: 1200px) {
    body {
      width: 100%; } }

.container {
  padding-top: 32px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Source Sans Pro'; }
  @media (min-width: 568px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1100px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1170px; } }

@media (max-width: 567px) {
  body {
    background-color: gray; } }

.main-div {
  width: 100%;
  height: 640px;
  background-image: url("/images/photo.png");
  background-repeat: no-repeat;
  background-size: cover 20%;
  background-color: #151319; }
  @media (min-width: 1400px) {
    .main-div {
      background-size: cover; } }
  .main-div .main-menu {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    @media (min-width: 568px) {
      .main-div .main-menu {
        flex-direction: row;
        text-align: left; } }
    .main-div .main-menu .title {
      display: flex;
      flex-direction: row;
      margin: 0 auto; }
      @media (min-width: 568px) {
        .main-div .main-menu .title {
          margin: 0; } }
      .main-div .main-menu .title h1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        color: white; }
      .main-div .main-menu .title p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 4px;
        padding-right: 4px;
        color: gray;
        flex-direction: column; }
    .main-div .main-menu a {
      padding-right: 12px;
      display: inline;
      text-align: center;
      flex-direction: column;
      text-decoration: none;
      color: white; }
      @media (min-width: 568px) {
        .main-div .main-menu a {
          text-align: left;
          display: inline;
          flex-direction: row; } }

.blue-line {
  border: 0;
  width: 40px;
  height: 2px;
  background: #1a77ac;
  padding-top: 1px; }

.block-content {
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between; }
  @media (min-width: 568px) {
    .block-content {
      padding: 0%;
      text-align: left;
      flex-direction: row; } }
  .block-content .first-content {
    width: 75%;
    font-size: small; }
    @media (min-width: 568px) {
      .block-content .first-content {
        width: 35%;
        font-size: medium; } }
    .block-content .first-content .content-title, .block-content .first-content h1 {
      font-family: 'Source Sans Bold'; }
    .block-content .first-content .content-title {
      margin-bottom: 0;
      color: #1a77ac; }
    .block-content .first-content h1 {
      color: white; }
    .block-content .first-content p {
      margin-bottom: 64px;
      color: gray; }
  .block-content .second-content {
    width: 40%; }
    .block-content .second-content img {
      display: none;
      padding-top: 15%;
      width: 100%; }
      @media (min-width: 568px) {
        .block-content .second-content img {
          display: block; } }

.product-overview {
  border-bottom: 0.5px solid lightgray; }
  .product-overview .title-block {
    margin-top: 20px;
    padding: 28px; }
    .product-overview .title-block .content-title, .product-overview .title-block h2 {
      padding-top: -12px;
      text-align: center;
      font-family: 'Source Sans Bold'; }
    .product-overview .title-block .content-title {
      color: #1a77ac; }
    .product-overview .title-block .blue-line {
      margin: 0 auto; }
  .product-overview .content-block {
    margin: 0 auto; }
    .product-overview .content-block .features-block {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      margin-top: 64px !important;
      margin-bottom: 64px !important; }
      .product-overview .content-block .features-block > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .product-overview .content-block .features-block .image-block {
        display: flex;
        align-items: center;
        width: 76px;
        height: 76px;
        border-radius: 64px;
        border: 0.5px solid lightgray;
        justify-content: center; }
      .product-overview .content-block .features-block .text-block {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* Выравнивание содержимого блока по горизонтали по центру */
        align-items: center; }
        .product-overview .content-block .features-block .text-block > p {
          width: 180px;
          color: gray; }

.dip-into-details, .div-customize {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 568px) {
    .dip-into-details, .div-customize {
      flex-direction: row;
      text-align: left; } }
  .dip-into-details .content-title, .dip-into-details h2, .div-customize .content-title, .div-customize h2 {
    padding-top: -12px;
    text-align: center;
    font-family: 'Source Sans Bold'; }
    @media (min-width: 568px) {
      .dip-into-details .content-title, .dip-into-details h2, .div-customize .content-title, .div-customize h2 {
        text-align: left; } }
  .dip-into-details .content-title, .div-customize .content-title {
    color: #1a77ac; }
  .dip-into-details h2, .div-customize h2 {
    padding-bottom: 16px; }
  .dip-into-details > div, .div-customize > div {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .dip-into-details .image-block img, .div-customize .image-block img {
    width: 100%; }
  .dip-into-details .text-blocks, .div-customize .text-blocks {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; }
    @media (min-width: 568px) {
      .dip-into-details .text-blocks, .div-customize .text-blocks {
        width: 30%;
        text-align: left;
        margin: 0; } }
    .dip-into-details .text-blocks > p, .div-customize .text-blocks > p {
      margin-top: 32px !important;
      margin-bottom: 32px !important;
      display: flex;
      align-items: center;
      color: gray; }
    .dip-into-details .text-blocks .paragraphs, .div-customize .text-blocks .paragraphs {
      margin-top: 32px !important;
      margin-bottom: 32px !important;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .dip-into-details .text-blocks .paragraphs > p, .div-customize .text-blocks .paragraphs > p {
        display: flex;
        align-items: center;
        color: gray; }
      .dip-into-details .text-blocks .paragraphs div img, .div-customize .text-blocks .paragraphs div img {
        width: 16px;
        margin-right: 10px; }
      .dip-into-details .text-blocks .paragraphs div > p, .div-customize .text-blocks .paragraphs div > p {
        text-align: left;
        color: black; }
  .dip-into-details .blue-line, .div-customize .blue-line {
    margin: 0 auto; }
    @media (min-width: 568px) {
      .dip-into-details .blue-line, .div-customize .blue-line {
        margin: 0; } }

.div-customize {
  background-color: WhiteSmoke; }

.pricings-plans {
  background-color: black;
  background-position: 0px -12px;
  background-size: cover;
  background-image: url("/images/Warstwa 8.png"); }
  .pricings-plans .content-title, .pricings-plans h2 {
    padding-top: -12px;
    text-align: center;
    font-family: 'Source Sans Bold'; }
  .pricings-plans .content-title {
    color: #1a77ac; }
  .pricings-plans h2 {
    padding-bottom: 16px;
    color: white; }
  .pricings-plans .slider-block .slides {
    height: 345px;
    margin-top: 64px;
    color: white;
    text-align: center;
    font-family: 'Source Sans Ital';
    width: 100px; }
    @media (min-width: 568px) {
      .pricings-plans .slider-block .slides {
        text-align: left; } }
    .pricings-plans .slider-block .slides p {
      width: 100%;
      font-size: medium; }
      @media (min-width: 1200px) {
        .pricings-plans .slider-block .slides p {
          font-size: large;
          width: 505px; } }
    .pricings-plans .slider-block .slides .author-is {
      justify-content: center;
      display: flex;
      text-align: left;
      gap: 20px; }
      @media (min-width: 568px) {
        .pricings-plans .slider-block .slides .author-is {
          justify-content: left; } }
      .pricings-plans .slider-block .slides .author-is img {
        width: 45px;
        height: 45px;
        border-radius: 30px; }
      .pricings-plans .slider-block .slides .author-is div {
        color: lightgray;
        font-family: 'Source Sans Pro'; }
      .pricings-plans .slider-block .slides .author-is p {
        padding-top: -10px;
        color: white;
        font-size: small;
        font-family: 'Source Sans Bold'; }
  .pricings-plans .like-what-you-see {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: large;
    background-color: #0f0f0f; }
    @media (min-width: 568px) {
      .pricings-plans .like-what-you-see {
        text-align: left; } }
    .pricings-plans .like-what-you-see p:first-child {
      color: lightgray;
      font-size: 18px; }
    .pricings-plans .like-what-you-see span {
      color: white;
      font-family: 'Source Sans Bold';
      font-size: 20px; }
    .pricings-plans .like-what-you-see p:nth-child(2) button {
      font-size: 12px !important; }

.slider-block div {
  outline: none; }

.slick-dots {
  padding: 35px 0 !important;
  /* Отступы сверху и снизу */
  margin: 0 !important;
  /* Убирает стандартные отступы */ }

.slick-dots li {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
  margin: 0 3px !important; }

.slick-dots li button:before {
  content: '' !important;
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  border: 0.5px solid white;
  background-color: transparent; }

.slick-dots li.slick-active button:before {
  width: 12px !important;
  height: 12px !important;
  border: none;
  background-color: white; }
