@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Regular.otf"); }

@font-face {
  font-family: 'Source Sans Bold';
  src: url("/fonts/SourceSansPro-Bold.otf"); }

body {
  margin: unset;
  padding: unset;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 5299px;
  background-color: lightgray; }
  @media (min-width: 568px) {
    body {
      width: 1170px; } }
  @media (min-width: 1200px) {
    body {
      width: 100%; } }

.container {
  padding-top: 32px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Source Sans Pro'; }
  @media (min-width: 568px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1100px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1170px; } }

@media (max-width: 567px) {
  body {
    background-color: gray; } }

.main-div {
  width: 100%;
  height: 640px;
  background-image: url("/images/photo.png");
  background-repeat: no-repeat;
  background-size: cover 20%;
  background-color: #151319; }
  @media (min-width: 1400px) {
    .main-div {
      background-size: cover; } }
  .main-div .main-menu {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    @media (min-width: 568px) {
      .main-div .main-menu {
        flex-direction: row;
        text-align: left; } }
    .main-div .main-menu .title {
      display: flex;
      flex-direction: row;
      margin: 0 auto; }
      @media (min-width: 568px) {
        .main-div .main-menu .title {
          margin: 0; } }
      .main-div .main-menu .title h1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        color: white; }
      .main-div .main-menu .title p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 4px;
        padding-right: 4px;
        color: gray;
        flex-direction: column; }
    .main-div .main-menu a {
      padding-right: 12px;
      display: inline;
      text-align: center;
      flex-direction: column;
      text-decoration: none;
      color: white; }
      @media (min-width: 568px) {
        .main-div .main-menu a {
          text-align: left;
          display: inline;
          flex-direction: row; } }

.blue-line {
  border: 0;
  width: 40px;
  height: 2px;
  background: #1a77ac;
  padding-top: 1px;
  margin: 0 auto; }

.block-content {
  padding: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between; }
  @media (min-width: 568px) {
    .block-content {
      padding: 0%;
      text-align: left;
      flex-direction: row; } }
  .block-content .first-content {
    width: 75%;
    font-size: small; }
    @media (min-width: 568px) {
      .block-content .first-content {
        width: 35%;
        font-size: medium; } }
    .block-content .first-content .content-title, .block-content .first-content h1 {
      font-family: 'Source Sans Bold'; }
    .block-content .first-content .content-title {
      color: #1a77ac; }
    .block-content .first-content h1 {
      color: white; }
    .block-content .first-content p {
      color: gray; }
  .block-content .second-content {
    width: 40%; }
    .block-content .second-content img {
      display: none;
      padding-top: 15%;
      width: 100%; }
      @media (min-width: 568px) {
        .block-content .second-content img {
          display: block; } }

.product-overview {
  border-bottom: 0.5px solid lightgray; }
  .product-overview .title-block {
    margin-top: 20px;
    padding: 28px; }
    .product-overview .title-block .content-title, .product-overview .title-block h2 {
      padding-top: -12px;
      text-align: center;
      font-family: 'Source Sans Bold'; }
    .product-overview .title-block .content-title {
      color: #1a77ac; }
  .product-overview .content-block {
    margin: 0 auto; }
    .product-overview .content-block .features-block {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      margin-top: 64px;
      margin-bottom: 64px; }
      .product-overview .content-block .features-block > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .product-overview .content-block .features-block .image-block {
        display: flex;
        align-items: center;
        width: 76px;
        height: 76px;
        border-radius: 64px;
        border: 0.5px solid lightgray;
        justify-content: center; }
      .product-overview .content-block .features-block .text-block {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        /* Выравнивание содержимого блока по горизонтали по центру */
        align-items: center; }
        .product-overview .content-block .features-block .text-block > p {
          width: 180px;
          color: gray; }
