@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: 'Source Sans Bold';
    src: url("/fonts/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: 'Source Sans Ital';
    src: url("/fonts/SourceSansPro-It.otf");
}

body {
  margin: unset;
  padding: unset;
  user-select: none;
  overflow-x: hidden;
}

p {
    user-select: text !important;
}

body {
    width: 100%;
    height: auto;
    background-color: lightgray; 

    @include bp-up(sm) {
        width: 1170px;
    }

    @include bp-up(xl) {
        width: 100%;
    }
}


.container {
    padding-top: 32px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Source Sans Pro';

    @include bp-up(sm) {
        max-width: 540px;
    }
    @include bp-up(md) {
        max-width: 800px;
    }
    @include bp-up(lg) {
        max-width: 900px;
    }
    @include bp-up(xl) {
        max-width: 1100px;
    }
    @include bp-up(xxl) {
        max-width: 1170px;
    }
}