body {
  @include bp-down(sm) {
    background-color: gray;
  }
}

@mixin margins {
  margin-left: 0;
  margin-right: 0;
}


@mixin margins-full {
  margin-top: 0;
  margin-bottom: 0;
  @include margins;
}

@mixin margin-top-bot {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

@mixin margin-top-bot-2 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}


.main-div {
  width: 100%;
  height: 640px;
  background-image: url("/images/photo.png");
  background-repeat: no-repeat;
  background-size: cover 20%;
  background-color: rgb(21, 19, 25);

  @include bp-up(xxl) {
    background-size: cover;
  }

  & .main-menu {
    @include margins;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @include bp-up(sm) {
      flex-direction: row;
      text-align: left;
    }

    @include bp-up(md) {
      flex-direction: row;
      text-align: left;
    }
   
    & .title {
      display: flex;
      flex-direction: row;
      margin: 0 auto;

      @include bp-up(sm) {
        margin: 0;
      }

      @include bp-up(md) {
        margin: 0;
      }

      & h1 {
        @include margins-full;
        color: white;
        cursor: pointer;
      }

      & p {
        @include margins-full;
        padding-left: 4px;
        padding-right: 4px;
        color: gray;
        flex-direction: column;
      }
    }

    & a {
      padding-right: 12px;
      display: inline;
      text-align: center;
      flex-direction: column;
      text-decoration: none;
      color: white;

      @include bp-up(sm) {
        text-align: left;
        display: inline;
        flex-direction: row;
      }
    
      @include bp-up(md) {
        text-align: left;
        display: inline;
        flex-direction: row;
      }
    }
  }

  & .menu {

    & a.active {
      position: relative;

      &::after, &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        width: 16px;

        @include bp-up(sm) {
          bottom: -16px;
        }

        @include bp-up(md) {
          bottom: -16px;
        }

        height: 2px;
        background-color: rgb(26, 119, 172); /* Color of the line */
      }

      &::before {
        left: 50%;
        transform: translateX(-150%);
      }

      &::after {
        right: 50%;
        transform: translateX(75%);
      }

      /*left: 50%;
      transform: translateX(-63%);
      width: 45px;*/
    }
  }
}

.blue-line {
  display: flex;
  align-items: center;
  margin: 0 auto;
  border: 0;
  width: 40px;
  height: 4px;
  margin-bottom: 32px;
  margin-top: 16px;

  &::before, &::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid rgb(26, 119, 172);
  }

  &::before {
    margin-right: 2px;
  }

  &::after {
    margin-left: 2px;
  }
}